<!DOCTYPE html>
<html>
    <head>
        <title>Sistema de cotações</title>
        <meta charset="UTF-8">
        <link rel="stylesheet "href="./css/style.css">
        
    </head>
    <body>
        <div class="main-content">
           {{>header}}
        <p id="label">Procure um ativo</p>
        <form>
            <input type="text" placeholder="Código do ativo">
            <button>Buscar</button>
        </form>

        <h3></h3>
        <p id='open'></p>
        <p id='last'></p>
        <p id='low'></p>
        <p id='high'></p>
        <p id='close'></p>        
        </div>                
        {{>footer}}
    </body>
    <script src="./script/app.js"></script>
</html>